.feedback{
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.feedback_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    & > h2{
        font-weight: 500;
        font-size: 20px;
        color: #646464;
    }

    & > h1{
        font-weight: 500;
        font-size: 48px;
        color: #212121;
    }
}

.feedback_buttons{
    align-self: flex-end;
}
.feedback_block{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}