.achievement_block_content{
    
    padding: 50px;
    border-radius: 40px 0;
    box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & > span{
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        text-align: center;
        color: #212121;
    }
    & > p{
        font-weight: 600;
        font-size: 18px;
        line-height: 167%;
        color: #646464;
    }

}

.achievement_block_content:nth-child(1){
    position: relative;
    bottom: 60px;
}


.achievement_block_content:nth-child(2){
    position: relative;
    bottom: -60px;
}


.achievement_block_content:nth-child(3){
    position: relative;
    bottom: 60px;
}


.achievement_block_content:nth-child(4){
    position: relative;
    bottom: -60px;
}
